<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cthos.pfpt"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:label="@string/app_name" android:debuggable="true" android:icon="@drawable/pficon">
        <activity android:name=".PlayerToolkitMain"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SettingsActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.cthos.pfpt.SETTINGS_ACTIVITY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:name="CreateCharacter">
            <intent-filter>
            	<action android:name="com.cthos.pfpt.CREATE_CHARACTER" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:name="LoadCharacter">
            <intent-filter>
            	<action android:name="com.cthos.pfpt.LOAD_CHARACTER" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:name="ViewCharacter">
            <intent-filter>
            	<action android:name="com.cthos.pfpt.VIEW_CHARACTER" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:name="InventoryActivity">
            <intent-filter>
            	<action android:name="com.cthos.pfpt.INVENTORY_ACTIVITY" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:name="SlottedItemActivity">
            <intent-filter>
            	<action android:name="com.cthos.pfpt.SLOTTED_ITEM_ACTIVITY" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity android:enabled="true" android:name="GearActivity">
            <intent-filter>
            	<action android:name="com.cthos.pfpt.GEAR_ACTIVITY" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:name="AddSlottedItemActivity">
            <intent-filter>
            	<action android:name="com.cthos.pfpt.ADD_SLOTTED_ITEM_ACTIVITY" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:name="ManageCharacterActivity">
            <intent-filter>
            	<action android:name="com.cthos.pfpt.MANAGE_CHARACTER_ACTIVITY" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:name="CharacterLevelActivity">
            <intent-filter>
            	<action android:name="com.cthos.pfpt.CHARACTER_LEVEL_ACTIVITY" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:name="AbilitiesActivity">
            <intent-filter>
            	<action android:name="com.cthos.pfpt.ABILITIES_ACTIVITY" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:name="AdjustStatsActivity">
            <intent-filter>
            	<action android:name="com.cthos.pfpt.ADJUST_STATS_ACTIVITY" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider android:authorities="com.cthos.pfpt.core" android:name="com.cthos.db.CharacterProvider"></provider>
        <provider android:authorities="com.cthos.pfpt.core.slotteditemprovider" android:name="com.cthos.db.SlottedItemProvider"></provider>
        <provider android:authorities="com.cthos.pfpt.core.characterclasslevelprovider" android:name="com.cthos.db.CharacterClassLevelProvider"></provider>
        <provider android:authorities="com.cthos.pfpt.core.abilityprovider" android:name="com.cthos.db.AbilityProvider"></provider>
        <provider android:authorities="com.cthos.pfpt.core.gearprovider" android:name="com.cthos.db.GearProvider"></provider>
    </application>
</manifest>